<html>
	<head>
		<title>Ninjutsu</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width", initial-scale=1>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<style>
	.margin-left {
		margin-left: 20px;
	}
	.result-message {
		display: inline-block;
		margin-top: 20px;
	}
    </style>
	<body>
		<div id="app">
			<div class="container panel panel-default">
				<div class="panel-heading container-fluid">
					<div class="col-xs-12 row"><p>Select the option related to following term:</p></div>
					<div class="col-xs-12 row">
					<div class="col-xs-9 row">
					<b>{{testQuestion}}</b>
				    </div>
				    <div class="col-xs-3">
				    	Score: {{myScore}}
				    </div>
				    </div>
				</div>
				<div class="panel-body">
					<div v-for="options in testOptions">
						<p><input 
							type="radio" @click="answerMe(options)" 
							v-model="selected" 
							:value="options" 
							name="optionGroup"><span class="margin-left">{{options}}</span>
						</p>
					</div>
					<div class="row container col-xs-12">
						<button class="btn btn-primary col-xs-3" 
								@click="testClick()"
								:disabled="!answeredOption"
						>Test</button>
						<div class="col-xs-1"></div>
						<button class="btn btn-default col-xs-3" 
								@click="nextQuestion()"
						>Next</button>
					</div>
					
					<div class="row container-fluid">
						<p class="result-message">{{testResult}}</p>
					</div>
				</div>
			</div>
		</div>
		<script>
			var app = new Vue({
						el: '#app',
						data: {
							    testArray: [],
							    testQuestion: '',
							    testNumber: 0,
							    testOptions: [],
							    testResult:'',
							    answeredOption: '',
							    selected: false,
							    myScore: 0,
								aikiKihonHappo: [
											[
												"Ikkyo, first lesson",
												"Muso Dori",
												"Incomparable Catch",
												"Enter or close the distance"
											],
											[
												"Nikyo, second lesson",
												"Hon Gyaku",
												"Base Reversal",
												"Set them up"

											],
											[
												"Sankyo, third lesson",
												"Take Ori",
												"Breaking Bamboo",
												"To go around the problem."

											],
											[
												"Yonkyo, fourth lesson",
												"Kunuki",
												"Bolt lock",
												"Pain with indifference"

											],
											[
												"Gokyo, fifth lesson",
												"Omate Musha Dori",
												"Obvious Warrior Catch ",
												"Strike in every technique"

											],
											[
												"Rokkyo, sixth lesson",
												"Ura Musha Dori",
												"Not so obvious warrior catch",
												"Lead or guide your opponent"

											],
											[
												"Nanakyo, seventh lesson",
												"Shiho Nage",
												"Four directional throw",
												"Become skin tight"

											],
											[
												"Hachikyo, eigth lesson",
												"Irmi Nage",
												"Entering throw",
												"Become the center"

											]]},
							  mounted() {
							  		this.nextQuestion();
							  	},
							  methods: {
							  	nextQuestion() {
							  		let i = 0, j=0;
							  		this.testOptions = [];
							  		this.answeredOption = '';
							  		this.testResult = '';
							  		this.selected = false;

							  		let testArrayIndex = Math.floor(Math.random() * 8);
							  		this.testArray = this.aikiKihonHappo[testArrayIndex];
							  		let aikiArrayWithoutTestElements = this.aikiKihonHappo.slice(0);
							  		aikiArrayWithoutTestElements.splice(testArrayIndex, 1);
							  		this.testQuestion = this.testArray[Math.floor(Math.random() * 4)];
							  		this.testAnswer = this.testArray.filter(qn => qn !== this.testQuestion)[Math.floor(Math.random() * 3)];
							  		this.testAnswerIndex = Math.floor(Math.random() * 3);
							  		this.testOptions[this.testAnswerIndex] = this.testAnswer;
							  		

							  		while(i<3){
							  			let optionArrayIndex = Math.floor(Math.random() * 7);
							  			let option = aikiArrayWithoutTestElements[optionArrayIndex][Math.floor(Math.random() * 4)];
							  			if(this.testOptions.indexOf(option) === -1 && option != this.testQuestion && optionArrayIndex != testArrayIndex) {
							  				if(this.testOptions[j]) {
							  					j++;
							  				} 
							  				this.testOptions[j] = option;
							  				j++;
							  				i++;
							  			}
							  			
							  		}
							  	},
							  	testClick() {
							  		if(this.answeredOption === this.testAnswer) {
							  			this.testResult = "Correct answer!"
							  			this.myScore = this.myScore + 10;
							  		} else {
							  			this.testResult = "Wrong answer!"
							  			this.testOptions[this.testAnswerIndex] = this.testOptions[this.testAnswerIndex] + ' (right)';
							  			this.myScore = this.myScore - 5;
							  		}
							  		this.answeredOption = '';
							  	},
							  	answerMe(value) {
							  		if(!this.testResult) {
							  		   this.answeredOption = value;
							  		   this.testResult = "";
							  		}
							  	}
							  }
			});

		</script>
	</body>
</html>